.expense-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  margin: 20px 0px;
  padding: 20px;
  width: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%)
}

.expense-summary {
  text-align: center;
  margin-top: 40px;
}

.expense-filter-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.expense-list-wrapper {
  margin-top: 20px;
  background: lightseagreen;
  width: 50vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 50px;
}
.expense-list-header {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.filter-items {
  padding: 0 10px;
}

.filter-input {
  height: 46px;
  width: 200px;
  padding: 0;
  margin: 0;
}

.filter-input::placeholder {
  padding-left: 10px;
}

.filter-select {
  margin: 0 50px;
  height: 50px;
  width: 200px;
}